<!DOCTYPE html>
<html>

<head>
  <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
  <link rel="stylesheet" type="text/css" href="static/index.css">
  <title>Yields the Story of Life</title>
  <style>

  </style>
  </style>
</head>

<body>
  <div id="app">
    <header>
      <div class="hero-image">
      </div>
      <img src="static/avatar.jpg" class="avatar">
      <div class="banner">
        <span class="h">Y</span>
        <span class="title">ields the</span>
        <span class="h">S</span>
        <span class="title">tory of</span>
        <span class="h">L</span>
        <span class="title">ife</span>
      </div>
    </header>
    <div class="content">

      <!---->
      <div class="modal" v-show="isActive">
        <span class="close" v-on:click="isActive = false">&times;</span>
        <img class="modal-content" :src="originImage" />
        <div id="caption">
          <h1>{{name}}</h1>
          <hr />
          <h2>{{location}} | {{date}}</h2>
          <h4>{{device}}</h4>
          <h4>{{note}}</h4>
        </div>
      </div>

      <div class ="slideContainer">
        <!-- Slideshow container -->
        <div class="slideshow-container">

          <!-- Full-width images with number and caption text -->

          <div class="fade">
            <div class="numbertext">{{currentSlideIndex + 1}} / {{slides.length}}</div>
            <img v-on:click="detail(slides[currentSlideIndex])" @click="isActive = true" :src="slides[currentSlideIndex].url" style="width:100%;max-height:400px;border-radius: 2%;object-fit: contain;">
          </div>
          <div class="text">{{slides[currentSlideIndex].name}}</div>

          <!-- Next and previous buttons -->
          <a class="prev" v-on:click="plusSlides(-1)">&#10094;</a>
          <a class="next" v-on:click="plusSlides(1)">&#10095;</a>
        </div>
        <br>

        <!-- The dots/circles -->
        <div style="text-align:center">
          <span v-for = "i in slides.length" class ="dot" @click="currentSlide(i-1)"></span>
        </div>

      </div>


      <div class="row">
        <div v-for="c in imagesByColumes.length" class="column">
          <div v-for="img in imagesByColumes[c-1]">
            <div v-bind:class="responsiveStyle">
              <img :src="'./static/thumbnails/' + img.thumbnailUrl" v-on:click="detail(img)" @click="isActive = true"
                class="thumbnailStyle" />
            </div>
          </div>
        </div>
      </div>

      <footer>
        <ul style="text-align:left; padding-top:10px;">
          <li>
            <a href="https://github.com/yslib" style="text-decoration:none;color:white;">GitHub</a>
          </li>
          <li>
            visysl@outlook.com
          </li>
        </ul>
      </footer>
    </div>
    <script>


      fetch('./static/image_data.json').then(function (response) {
        return response.json();
      }).then(function (j) {


        var imagesByColumes = [[], [], [], []];
        for (var i = 0; i < j.images.length; i++) {
          imagesByColumes[i % imagesByColumes.length].push(j.images[i]);
        }

        var slideImages = j.slides;

        new Vue({
          el: '#app',
          data:
          {
            imagesByColumes: imagesByColumes,
            slides:slideImages,
            currentSlideIndex:0,
            thumbnailUrl: "",
            originImage: "",
            location: "",
            date: "",
            device: "",
            note: "",
            name: "",
            columeCount: 4,
            colIndex: 0,
            responsiveStyle: {
              responsive: true
            },
            imgStyle: {
              img: true
            },
            descStyle:
            {
              desc: true
            },
            isActive: false
          },
          methods: {
            detail: function (img) {
              this.originImage = img.url;
              this.location = img.location;
              this.date = img.date;
              this.device = img.device;
              this.note = img.note;
              this.name = img.name;
            },
            currentSlide:function(n){
            this.currentSlideIndex = n;
            if(this.currentSlideIndex >= this.slides.length){
              this.currentSlideIndex = this.slides.length - 1;
            }else if(this.currentSlideIndex < 0){
              this.currentSlideIndex = 0
            }
          },
          plusSlides:function(v){
            this.currentSlideIndex += v
            if(this.currentSlideIndex >= this.slides.length){
              this.currentSlideIndex = this.slides.length - 1;
            }else if(this.currentSlideIndex < 0){
              this.currentSlideIndex = 0
            }

          }
          },

        });
      });



    </script>
</body>

</html>