body,html{
    height: 100%;
    font-family: sans-serif;
}

.hero-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("photographer.jpg");
    height: 80%;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    position: relative;
}

.avatar
{
    position: relative;
    top: -25px;
    left: 50%;
    width: 80px;
    height: 80px;
    text-align: center;
    border-radius: 50%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 20%;
    width: 100%;
  }

  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    align-content: center;
    max-width: 25%; /*4 colums for images*/
    padding: 0 0px;
  }

.thumbnailStyle {
    vertical-align: middle;
    width: 100%;
    height: 200px;
    filter: brightness(0.7);
    object-fit: cover;
    z-index: 0;
 }

 .thumbnailStyle:hover{
   position: relative;
    vertical-align: middle;
    width: 100%;
    height: 200px;
    filter: brightness(1.0);
    object-fit: cover;
    cursor: pointer;
    transform: scale(1.05);
    z-index:10;
 }


.filter-thumbnailStyle {
    vertical-align: middle;
    width: 100%;
    height: 300px;
    margin-top: 20%;
    filter: brightness(0.3);
    object-fit: cover;
    z-index: 0;
 }

 .filter-thumbnailStyle:hover{
    position: relative;
    vertical-align: middle;
    width: 100%;
    height: 300px;
    filter: brightness(0.3);
    object-fit: cover;
    cursor: pointer;
    transform: scale(1.05);
    z-index:10;
 }

  .filter-row{
    display: flex;
    flex-wrap: wrap;
    padding: 0 15%;
    width: 100%;
  }
  .filter-column{
    flex:25%;
    align-content: center;
    max-width: 100%;
    width: 50%;
    margin: 0 5% 0 5%;
  }



  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }

  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }



  * {
    box-sizing: border-box;
    background-color: black;
  }

  .responsive {
    padding: 0 0px;
    width: 100%;
  }


  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

  header {
    height: 250px;
  }

  footer {
    padding: 50px 25px;
    font-size: .75rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: black;
  }

  footer ul {
    list-style: none;
    margin-right: 25px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    opacity: 0.5;
  }

  .footer{
    text-align:center;
    padding-top:10px;
    list-style: none;
    text-transform: uppercase;
    font-size: .88rem;
    letter-spacing: 8.6px;
    opacity: 0.3;
  }

  .myfooter{
    margin-top: 50px;
  }

  .footer_item{
    text-decoration:none;
    color:white;
    margin-bottom: 10px;
  }

  .banner
  {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: white;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* padding-bottom: 60px; */
  }

  .title {
    text-transform: uppercase;
    font-size: .88rem;
    letter-spacing: 8.6px;
    opacity: 0.3;
  }

  .h {
    text-transform: uppercase;
    font-size: .88rem;
    padding: 8.6px;
    opacity: 1;
  }

  .content {
    float: left;
    align-items: center;
    padding-top: 100px;
    width: 100%;
  }

  .nomodal{
    display:none;
  }



/*button container*/
#btnContainer{
  text-align:left;
  display: block;
  margin: 0px auto 25px 10%;
}

.btn {
  border: none;
  outline: none;
  padding: 20px 50px;
  background-color: rgb(12, 12, 12, 12);
  color: rgb(200,200,200);
  font-size: 18px;
  cursor: pointer;
}

.filterContainer{
  width: 100%;
}

/* Add a grey background color on mouse-over */
.btn:hover {
  background-color: rgb(24, 24, 24, 25);
}

/* Add a dark background color to the active button */
.btnActive {
  background-color: rgb(50, 50, 50, 25);
}
/**/

.modal {
display: block; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
padding-top: 100px; /* Location of the box */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
margin: auto;
display: block;
width: 80%;
border-radius: 0%;
}
.close {
position: absolute;
top: 15px;
right: 35px;
color: #f1f1f1;
font-size: 40px;
font-weight: bold;
transition: 0.3s;
}

.close:hover,
.close:focus {
color: #bbb;
text-decoration: none;
cursor: pointer;
}
￼


/* Add Animation */
.modal-content, #caption {
-webkit-animation-name: zoom;
-webkit-animation-duration: 0.6s;
animation-name: zoom;
animation-duration: 0.6s;
border-radius: 1%;
}
#caption {
z-index: 1; /* Sit on top */
float:right;
bottom: 0; /* At the bottom. Use top:0 to append it to the top */
/* background: rgb(0, 0, 0); */
/* background: rgba(0, 0, 0, 0.0);  */
text-align:left;
opacity:0.5;
color: #f1f1f1; /* Grey text */
width: 100%; /* Full width */
padding: 10px; /* Some padding */
}



@-webkit-keyframes zoom {
from {-webkit-transform:scale(0)}
to {-webkit-transform:scale(1)}
}

@keyframes zoom {
from {transform:scale(0)}
to {transform:scale(1)}
}


/* Slideshow container */
.slideshow-container {
  width: 95%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;

}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 20px;
  padding: 8px 12px;
  bottom: 8px;
  width: 100%;
  text-align: center;
  background-color: rgba(0,0,0,0.8);
  opacity: 0.5;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;

}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

